*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

form{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}

form h1{
    text-align: center;
}

tr{
    padding-top: 20px;
}

input{
    padding: 10px 20px;
    margin: 20px 0px;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgb(180, 179, 179);
}

button{
    border: none;
    padding: 10px 20px;
    background-color: rgb(54, 206, 7);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

button:hover{
    background-color: rgb(23, 128, 0);
    color: rgb(255, 255, 255);
}

